<div>
  <a href="/realTimeProducts">Cadastrar produtos</a>
    <h2>Lista de produtos:</h2>
</div>

  <div id="product-list">

  </div>
  {{!-- <ul>
    {{#each products}}
    <li>
      <strong>Title:</strong> {{this.title}} <br>
      <strong>Description:</strong> {{this.description}} <br>
      <strong>Price:</strong> {{this.price}} <br>
      <strong>Thumbnail:</strong> {{this.thumbnail}} <br>
      <strong>Code:</strong> {{this.code}} <br>
      <strong>Stock:</strong> {{this.stock}} <br>
    </li>
    {{/each}}
  </ul> --}}

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
    let productList = document.getElementById('product-list');


  socket.on('product', (products) => {
    console.log('produts', products)
      products.forEach(function(product) {
      let listItem = document.createElement('li');
      listItem.textContent = product.title;
      productList.appendChild(listItem);
    });
    });

  </script>
